body{
    background-color: #197278;
    margin: 0;
    padding: 0;
}


.form{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #283d3b; 

}

.form h2 {
    color: wheat;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.form input[type = "text"],input[type = "email"] , .form input[type = "password"] {
    background: none;
    display: block;
    border: none;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #197278;
    padding: 14px 10px;
    outline: none;
    border-radius: 25px;
    color: wheat;
    transition: 0.25s;
}



.form input[type = "text"]:focus, input[type = "email"]:focus, .form input[type = "password"]:focus {
    width: 280px;
    border-color: #fdc500;
}

.form input[type = "submit"]{
    background: none;
    display: block;
    border: none;
    text-align: center;
    margin: 20px auto;
    border: 2px solid #fdc500;
    padding: 14px 40px;
    outline: none;
    border-radius: 25px;
    color: wheat;
    transition: 0.25s;
    cursor: pointer;
}

.header{
    display: flex;
}

.logo{
    flex: 1;
}

.logo img{
    height: 60px;
    padding: 30px;
}

.navlink{
    flex: 1;
    padding: 30px;
}

.navlink li:hover{
    border-bottom: 1px solid #fff;
}

.navlink ul{
    display: flex;
    justify-content: space-around;
}